<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Peer Assessment Tool</title>
    <script src="/scripts/sweetalert2.all.min.js"></script>
    <style>
      .bribe-row {
        padding: 10px;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .bribe-details {
        flex: 1;
      }
      .actions {
        display: flex;
        gap: 10px;
      }
      .accept-btn,
      .refuse-btn {
        padding: 5px 10px;
        cursor: pointer;
      }
      .accept-btn {
        background-color: #4caf50;
        color: white;
        border: none;
      }
      .refuse-btn {
        background-color: #f44336;
        color: white;
        border: none;
      }

      /* Back Button */
      .btn {
        display: block;
        margin: 20px auto;
        font-size: 18px;
        margin-top: 20px;
        background-color: rgb(160, 131, 84);
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        width: 25%;
        border-radius: 10px;
        font-size: 18px;
      }

      .btn:hover {
        background-color: #0056b3;
      }
    </style>
    <link rel="stylesheet" href="/BribeCenter.css" />
  </head>

  <body>
    <header>
      <h1>&#128520; Bribe Center &#128520;</h1>
    </header>

    <main>
      <% if (bribes && bribes.length > 0) { %> <% bribes.forEach(bribe => { %>
      <% if (!bribe.response) { %>
      <div class="bribe-row">
        <div class="bribe-details">
          <p><strong>STUDENT ID:</strong> <%= bribe.student_id%></p>
          <p><strong>AMOUNT:</strong> <%= bribe.amount %>$</p>
          <p><strong>GRADE WANTED:</strong> <%= bribe.grade%></p>
          <p><strong>COMMENTS:</strong> <%= bribe.message %></p>
        </div>
        <div class="actions">
          <button
            class="accept-btn"
            onclick="handleDecision('<%= bribe.student_id %>', 'accepted')">
            Accept
          </button>
          <button
            class="refuse-btn"
            onclick="handleDecision('<%= bribe.student_id %>', 'refused')">
            Refuse
          </button>
        </div>
      </div>
      <% }})} %>
      <div id="noNewBribes"></div>
      <br />
      <button class="btn" onclick="window.location.href='/'">
        Back to Homepage
      </button>
    </main>

    <script>
      async function handleDecision(studentID, selection) {
        var decision = selection
        if (selection === "refused") {
          const result = await Swal.fire({
            title: "Bribe Refused",
            text: "How would you like to proceed?",
            showCancelButton: true,
            cancelButtonText: "Warn student",
            confirmButtonText: "Report student",
            background: '#e9d8bc',   // Light gray background color
            color: '#333333',         // Dark text color
            confirmButtonColor: '#e66458d8',  // Red report button
            cancelButtonColor: '#6fcd3da8',
          })

          if (result.isConfirmed) {
            decision = "reported"
          }
        }

        fetch(`/bribe/${studentID}/${decision}`, { method: "PUT"})
          .then((response) => response.text())
          .then((data) => {
            if (data == "refused") {
              Swal.fire({
                title: "Bribe Deleted",
                text: "Student has been issued a warning.",
                confirmButtonText: "Close",
                background: '#e9d8bc',   // Light gray background color
                color: '#333333',         // Dark text color
                confirmButtonColor: '#e66458d8',  // Red report button
              }).then(() => (location.reload()))
            } else if (data == "reported") {
              Swal.fire({
                title: "Student Reported",
                text: "They should have known better.",
                confirmButtonText: "Close",
                background: '#e9d8bc',   // Light gray background color
                color: '#333333',         // Dark text color
                confirmButtonColor: '#e66458d8',  // Red report button
              }).then(() => (location.reload()))
            } else if (data == "accepted") {
              Swal.fire({
                icon: 'error', // 'error' icon to give it that warning feel
                title: '🚨 UNETHICAL BEHAVIOUR DETECTED 🚨',
                html: `
                    <p>Offering and accepting bribes is a severe breach of conduct.
                    The authorities have been notified, you're advised to not leave the country at this time.</p>
                    <p>Academic Conduct and Accountability Bureau (ACAB) officers will arrive shortly to dispose of you.</p>
                    <p><b>Sorry this is the end for you, it didn't have to be this way 😔.</b></p>
                `,
                confirmButtonText: 'Logout',
                showCancelButton: false,
                background: '#f8d7da',
                backdrop: 'rgba(255, 0, 0, 0.4)',
                width: '685px',
                customClass: {
                    popup: 'popup',
                    title: 'popup-title',
                    htmlContainer: 'popup-text-container',
                    confirmButton: 'popup-confirm'
                },
              }).then(() => {
                window.location.href = "/logout";
              })
            }
          })
      }

      let html = "";
      const bribes = <%- JSON.stringify(bribes) %>;

      if (bribes && bribes.length > 0) {
        let openBribes = false;
        for (const bribe of bribes) {
          if (!bribe.response) {
            openBribes = true;
            break;
          }
        }
        if (!openBribes) {
          html += `
            <h2>😇</h2>
            <h3>
              No new bribes, Concordia students wouldn't do that <i>again</i>.
            </h3>`;
        }
      } else {
        html += `
            <h2>😇</h2>
            <h3>No bribes so far, you have some ethical students this term!</h3>
            <p><small><i>(for now)</i></small></p> `;
      }

      document.querySelector('#noNewBribes').innerHTML = html;
    </script>
  </body>
</html>
